#***************************************************************************
# FOR EDUCATIONAL PURPOSES ONLY, NEVER COMMIT SENSITIVE INFORMATION        *
#***************************************************************************

//npm.pkg.github.com/:_authToken=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
